<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/xheditor/jquery/jquery-1.11.2.min.js"></script>
  <script src="/javascripts/xheditor/xheditor-1.2.2.min.js"></script>
  <script src="/javascripts/xheditor/xheditor_lang/zh-cn.js"></script>
  <title>评论添加3</title>
</head>
<body>
  <%- include('./header', {title: '评论添加'}) %>
  <div class="comment_add">
    <form action="/comment/submit" method="post" id="frmDemo">
      <label for="">
        标题：<input type="text" name="title" value="" />
      </label>
      <label for="">
        内容：<textarea name="content" id="content" cols="120" rows="30"></textarea>
      </label>
      <label for="">
        <input type="submit" value="提交" name="submit" />
      </label>
    </form>
  </div>
  <script>
    pageInit()
    function pageInit() {
      $.extend(XHEDITOR.settings, {shortcuts:{'ctrl+enter': submitForm}})
      $('#content').xheditor({
        html5Upload: false,
        upMultiple: '1',

        upImgUrl: '/comment/uploadImg',
        upImgExt: 'jpg,jpeg,gif,png'
      })
    }
    function insertUpload(arrMsg) {
      var i, msg
      for (var i = 0; i < arrMsg.length; i++) {
        msg = arrMsg[i]
        $('#uploadList').append('<option value="'+ msg.id +'">' + msg.localname + '</option>')
      }
    }
    function submitForm() {
      $('#frmDemo').submit()
    }
  </script>
</body>
</html>
